<div class="container pb-5">
	<h2 class="text-purple my-5">Categorías recomendadas:</h2>
	<div class="row">
		<div class="col-12">
			<div class="d-flex overflow-hidden suggested-categories">
				<div class="category-wrapper p-3 align-items-center justify-content-between">
					<img src="img/categories/cat1.jpg" alt="" class="category-img">
					<div class="card border-purple">
						<div class="card-header bg-light-purple text-white">
							Video
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item border-purple">Cámaras fotográficas</li>
							<li class="list-group-item border-purple">Videocámaras</li>
							<li class="list-group-item border-purple">Proyectores</li>
						</ul>
					</div>
				</div>
				<div class="category-wrapper p-3 align-items-center justify-content-between">
					<img src="img/categories/cat2.png" alt="" class="category-img">
					<div class="card border-purple">
						<div class="card-header bg-light-purple text-white">
							Audio
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item border-purple">Cámaras fotográficas</li>
							<li class="list-group-item border-purple">Videocámaras</li>
							<li class="list-group-item border-purple">Proyectores</li>
						</ul>
					</div>
				</div>
				<div class="category-wrapper p-3 align-items-center justify-content-between">
					<img src="img/categories/cat3.jpg" alt="" class="category-img">
					<div class="card border-purple">
						<div class="card-header bg-light-purple text-white">
							Juegos
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item border-purple">Cámaras fotográficas</li>
							<li class="list-group-item border-purple">Videocámaras</li>
							<li class="list-group-item border-purple">Proyectores</li>
						</ul>
					</div>
				</div>
				<div class="category-wrapper p-3 align-items-center justify-content-between">
					<img src="img/categories/cat4.jpg" alt="" class="category-img">
					<div class="card border-purple">
						<div class="card-header bg-light-purple text-white">
							Deportes
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item border-purple">Cámaras fotográficas</li>
							<li class="list-group-item border-purple">Videocámaras</li>
							<li class="list-group-item border-purple">Proyectores</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid bg-white">
	<div class="row">
		<div class="col-12">
			<div class="container">
				<h2 class="my-5 text-purple">Productos recomendados:</h2>
				<div class="row bg-white pb-5">
					<div class="col-12">
						<div class="suggested-products">
							<div class="row">
								<div class="col-sm-3">
									<div class="card main-shadow">
										<img src="https://cdn.shopify.com/s/files/1/2547/8010/products/Full_Front_web_op_2000x.png?v=1556663643" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title">Product Name</h5>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											<span class="text-success d-block text-right mb-3">$2000.00</span>
											<a href="#" class="btn btn-primary btn-block">Agregar al carrito</a>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="card main-shadow">
										<img src="https://cdn.shopify.com/s/files/1/2547/8010/products/Full_Front_web_op_2000x.png?v=1556663643" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title">Product Name</h5>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											<span class="text-success d-block text-right mb-3">$2000.00</span>
											<a href="#" class="btn btn-primary btn-block">Agregar al carrito</a>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="card main-shadow">
										<img src="https://cdn.shopify.com/s/files/1/2547/8010/products/Full_Front_web_op_2000x.png?v=1556663643" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title">Product Name</h5>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											<span class="text-success d-block text-right mb-3">$2000.00</span>
											<a href="#" class="btn btn-primary btn-block">Agregar al carrito</a>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="card main-shadow">
										<img src="https://cdn.shopify.com/s/files/1/2547/8010/products/Full_Front_web_op_2000x.png?v=1556663643" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title">Product Name</h5>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											<span class="text-success d-block text-right mb-3">$2000.00</span>
											<a href="#" class="btn btn-primary btn-block">Agregar al carrito</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="row bg-purple py-5 text-white">
		<div class="col-sm-5 offset-sm-1">
			<h4 class="mb-3">Mantente en contacto</h4>
			<div class="contact-data mb-3"><i class="fas fa-phone"></i>55-45-78-85-96</div>
			<div class="contact-data"><i class="fas fa-envelope-open-text"></i>contact@hackstore.com</div>
		</div>
		<div class="col-sm-5 d-flex align-items-center">
			<div class="w-100 social-networks d-flex  justify-content-around">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-twitter"></i>
				<i class="fab fa-instagram"></i>
			</div>
		</div>
	</footer>
</div>